---
layout: base2.liquid
permalink: "/courses/"
---

<h1>Course Content (CSCI E-114 Section 1 (26437))</h1>

<h2>Modules</h2>
<ul>
  {% for module in course.data.course.modulesConnection.nodes %}
     {% comment %} DEBUGGING <pre id="json-debug">{{module | json }}</pre> {% endcomment %}

    <li>
      <strong>{{ module.name }}</strong>
      <span>Created at: {{ module.createdAt | date: "%B %d, %Y" }}</span>
    </li>
  {% endfor %}
</ul>
{% comment %} DEBUGGING: Output the dueAt values pre sorting {% endcomment %}
{% comment %} {% for assignment in course.data.course.assignmentsConnection.edges %}
  <pre>Due At (Before sort): {{ assignment.node.dueAt }}</pre>
{% endfor %} {% endcomment %}

{% comment %} Sort assignments by dueAt in ascending order and then reverse to have the earliest at the bottom {% endcomment %}
{% comment %} {% assign sorted_assignments = course.data.course.assignmentsConnection.edges | sort: "node.dueAt" | reverse %} {% endcomment %}
{% assign sorted_assignments = course.data.course.assignmentsConnection.edges | sort: "node.dueAt" %}
{% assign sorted_assignments = sorted_assignments | reverse %}

<h2>Assignments</h2>
<ul>
  {% for assignment in sorted_assignments %}
    <li>
      <strong>{{ assignment.node.name }}</strong>
      <span>Due: {{ assignment.node.dueAt | date: "%B %d, %Y" }}</span>
      {% if assignment.node.description %}
        <div>{{ assignment.node.description | escape_once }}</div>
      {% endif %}
      <a href="{{ assignment.node.htmlUrl }}">View Assignment</a>
    </li>
  {% endfor %}
</ul>



  {% comment %} DEBUGGING {% endcomment %}
  {% comment %} <pre id="json-debug">{{ course | json }}</pre> {% endcomment %}

 {% comment %} <pre id="json-debug">{{course.data.course.assignmentsConnection.edges  | json }}</pre>
  <script>
    console.log({{ course | json }});
  </script>  {% endcomment %}