---
layout: base2.liquid
pagination:
  data: parks_new
  size: 1
  alias: park
permalink: "parks/{{ park.parkCode | slugify }}/"
---
<article>
  <!-- Park title and description -->
  <h1 class="park-title">{{ park.fullName }}</h1>
  <p class="park-description">{{ park.description }}</p>

  <!-- Display places with their images and descriptions -->
  <div class="places-container">
    {% for place in park.places %}
      <div class="place">
        <img src="{{ place.images[0].url }}" alt="{{ place.title }}" class="place-image" loading="lazy">
        <h2 class="place-title">{{ place.title }}</h2>
        <p class="place-description">{{ place.listingDescription }}</p>
      </div>
    {% endfor %}
  </div>


{% comment %} 
  DEBUGGING
  <pre id="json-debug">{{ park | json }}</pre>

  <script>
    console.log({{ park | json }});
  </script> {% endcomment %}

</article>
